* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-size: contain;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    justify-content: center;
}

.main_div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.texts_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

.text_1 {
    Font-family: Poppins;
    font-weight: 200;
    Font-style: ExtraLight;
    Font-size: 24px;
    Line-height: 36px;
    color: #4D4F62;
    width: 296px;
    height: 36px;
}

.text_2 {
    Font-family: Poppins;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 24px;
    Line-height: 36px;
    color: #4D4F62;
}

.text_3 {
    Font-family: Poppins;
    Font-style: SemiBold;
    font-weight: 400;
    Font-size: 15px;
    Line-height: 25px;
    color: #4D4F62;
    width: 311px;
    height: 75px;
    padding-left: 30px;
    margin-top: 13px;
    opacity: 50%;
    text-align: center;
}


.box {
    width: 311px;
    height: 222px;
    margin-top: 76px;
    border-radius: 8px;
    box-shadow: 0px 15px 20px 0px rgba(131, 166, 210, 0.5)
}


.supervisor {
    Font-family: Poppins;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 20px;
    Line-height: 30px;
    padding-left: 28px;
    margin-top: 25px;
}

.paragraph_1 {
    Font-family: Poppins;
    Font-style: Regular;
    font-weight: 400;
    Font-size: 13px;
    Line-height: 23px;
    padding-left: 28px;
    opacity: 50%;
}

.green_div {
    background-color: #44D3D2;
}

.logo_1 {
    width: 57px;
    height: 57px;
    padding-left: 230px;
    margin-top: 36px;
}


.team {
    Font-family: Poppins;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 20px;
    Line-height: 30px;
    margin-top: 25px;
    padding-left: 28px;
}

.network_div {
    Font-family: Poppins;
    Font-style: Regular;
    font-weight: 400;
    Font-size: 13px;
    Line-height: 23px;
    opacity: 50%;
    padding-left: 28px;
}

.red_div {
    background-color: #EA5454;
}

.logo_2 {
    margin-top: 35px;
    padding-left: 230px;
}

.karma {
    Font-family: Poppins;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 20px;
    Line-height: 30px;
    padding-left: 28px;
    margin-top: 25px;
}

.talent_div {
    Font-family: Poppins;
    Font-style: Regular;
    font-weight: 400;
    Font-size: 13px;
    Line-height: 23px;
    opacity: 50%;
    padding-left: 28px;
    letter-spacing: 0.62px;
}

.yellow_div {
    background-color: #FCAE4A;
}

.logo_3 {
    padding-left: 230px;
    margin-top: 30px;
}


.calculator {
    Font-family: Poppins;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 20px;
    Line-height: 30px;
    margin-top: 27px;
    padding-left: 28px;
}

.data_div {
    Font-family: Poppins;
    Font-style: Regular;
    font-weight: 400;
    Font-size: 13px;
    Line-height: 23px;
    opacity: 50%;
    padding-left: 28px;
    letter-spacing: 0.67px;
}

.blue_div {
    background-color: #549EF2;
}

.color {
    width: 311px;
    height: 3.55px;
    border-radius: 30px 30px 0 0;
}

.window_div4 {
    margin-bottom: 78px;
}

.logo_4 {
    padding-left: 230px;
    margin-top: 30px;
}

@media screen and (min-width:1440px) {

    .main_div {
        width: 1440px;
        height: 922px;
    }

    .text_1 {
        font-size: 36px;
        line-height: 54px;
        width: 444px;
        height: 54px;
    }

    .text_2 {
        width: 441px;
        height: 54px;
        font-size: 36px;
        line-height: 54px;
    }

    .text_3 {
        width: 540px;
        height: 50px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

    .box {
        width: 350px;
        height: 250px;
    }


    .color {
        width: 350px;
        height: 4px;
    }

    .paragraph_1 {
        width: 286px;
    }

    .karma {
        width: 286px;
    }

    .network_div {
        width: 286px;
    }

    .data_div {
        width: 286px;
    }

    .whole_box_div {
        display: flex;
    }

    .window_div4 {
        margin-left: 30px;
        margin-top: 205px;
    }

    .window_div {
        margin-right: 30px;
        margin-top: 205px;
    }

    .window_div3 {
        margin-top: 30px;
    }

}